:root {
  --main-color: #212121;
  --accent-color: #2196f3;
  --second-color: #757575;
  --primery-white-color: #ffffff;
  --button-second-backgund: #f5f4fa;
}

body {
  color: var(--main-color);
  background-color: #ffffff;

  font-family: Roboto, inheril;
}
/*Button*/
.button {
  color: var(--main-color);
  background-color: var(--primery-white-colorwhite);
  font-size: 24px;
  padding: 12px 24px;
  display: inline-block;
  border-color: 1px solid black;

  cursor: pointer;
}
.button.primery {
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  border-color: transparent;
}
.button.primery:hover,
.button.primery:focus {
  color: var(--second-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.button.second {
  background-color: var(--button-second-backgund);
  border-color: var(--button-second-backgund);
}
.button.second:hover,
.button.second:focus {
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.box {
  width: 370px;
  height: 404px;
  background: #ffffff;
}
.box:hover,
.box:focus {
  background-color: rosybrown;
}

.box .h {
  font-size: 18px;
  line-height: 2;

  color: var(--main-color);
}
.box .link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;

  color: #757575;
}

/*LOGO*/
.logo {
  color: var(--accent-color);

  font-family: Raleway, inheril;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo-header {
  color: var(--main-color);
  font-size: 26px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.03em;
}
.logo-footer {
  color: var(--primery-white-color);
  font-size: 26px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.03em;
}
/*NAVIGATION*/
.nav-main .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-color);
}
.nav-main .link:hover,
.nav-main .link:focus {
  color: var(--accent-color);
}
.nav-main .link.current {
  color: var(--accent-color);
}

/* contact`s*/
.nav-contact {
  color: var(--second-color);
}
.nav-contact:hover,
.nav-contact:focus {
  color: var(--accent-color);
}

/* hero*/
.hero-style {
  font-family: Roboto;
  font-size: 44px;
  line-height: 1.4;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-align: center;
}

/* about us */
.about-us {
}
.section .h {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
}
.section .section-text {
  color: var(--second-color);

  font-size: 14px;
  line-height: 1.7;
}

/*footor*/
.footor {
  background: #2f303a;
}
.address .link {
  color: rgba(255, 255, 255, 0.6);

  font-family: Roboto, inheril;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
}

.address .link:hover,
.address .link:focus {
  color: var(--primery-white-color);

  font-style: regular;
  letter-spacing: 0.03em;
}
